#welcome {
    -fx-font: 50px Tahoma;
    -fx-fill: linear-gradient(#ffea6a, #efaa22);
    -fx-padding: 100px;
}

#ok {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-max-width: 200px;
    -fx-font-size: 25px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

#ok:hover {
    -fx-background-color: #fdb822;
    -fx-border-color: transparent;
}

#root{
     -fx-background-image: url("background.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: 850 650;
     -fx-background-position: center center;
}

#main-page{
     -fx-background-color: linear-gradient( #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
     -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}


.menu-bar, .menu-options {
    -fx-cursor: hand;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}


.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.button , .combo-box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
     -fx-text-fill: white;
     -fx-font-family: "Arial Narrow";
     -fx-font-weight: bold;
     -fx-pref-width: 150px;
     -fx-font-size: 20px;
     -fx-cursor: hand;
 }

.button:hover ,.combo-box:hover, .combo-box:focused{
    -fx-background-color: #215267;
    -fx-border-color: transparent;
}

.combo-box {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.radio-button .dot {
    -fx-mark-highlight-color: #67b252;
    -fx-mark-color:  #67b252;
}

#label-code {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


